// FONTS 

$primary-font: Poppins500;
$secondary-font: Poppins600;
$tertiary-font: Poppins400;

// COLOR

$white-color: #FFF;
$black-color: #000;
$bgc-black: #232536;
$bgc-pink: #FFE6D2;
$bgc-noyob: #ECF8F9;
$text-color-1: #232536;
$p-color: #5D5F6D;
$linear-gradient: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
$blue-color: #444CFC;