<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe section</title>
    <link rel="stylesheet" href="../css/home.min.css" />
  </head>
  <body>
    <section id="subscribe">
      <div class="container__1320 subscribe">
        <img
          src="../assets/images/subscribe-kvadrat.png"
          alt=""
          class="subscribe__kvadrat"
        />
        <img
          src="../assets/images/subscribe-shape.png"
          alt=""
          class="subscribe__shape"
        />
        <div class="container__subscribe subscribe__row">
          <div class="subscribe__left">
            <p>NEWSLETTER</p>
            <h3>Subscribe our News Letter to get Latest Updates.</h3>
          </div>
          <div class="subscribe__right">
            <form>
              <input
                type="email"
                placeholder="Paresh@Pixeto.com"
                required
                name="email"
              />
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
