@font-face {
    font-family: Poppins400;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins500;
    src: url(../../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins600;
    src: url(../../assets/fonts/Poppins-SemiBold.ttf);
}